{% extends "base.html" %}
{% load static %}
{% block content %}

<h2>Find People</h2>

<form method="get">
    <div class="input-group mb-4">

        <input class="form-control" type="text"
               name="q" placeholder="Search for people..."
               value="{{ query }}">

        <button class="btn btn-primary">Search</button>
    </div>

</form>

{% if users %}

    {% for result in users %}

        <div class="card mb-3">

            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="me-3">

                        {% if result.profile_picture %}
                            <img
                                src="{{ result.profile_picture.url }}"
                                alt="Profile Picture"
                                class="rounded-circle connection-avatar"
                            >
                        {% else %}
                            <img
                                src="{% static 'images/default.jpg' %}"
                                alt="Default Profile Picture"
                                class="rounded-circle connection-avatar"
                            >
                        {% endif %}

                    </div>

                    <div class="flex-grow-1">
                        <h5 class="card-title mb-1">
                            {{ result.display_name }}
                        </h5>

                        <p class="text-muted mb-3">
                            @{{ result.user.username }}
                        </p>

                        {% if result.user.id in requested_user_ids %}

                            <span class="badge bg-success">
                                Connection request sent
                            </span>

                        {% else %}

                            <form method="post" action="{% url 'connections:send_connection_request' result.user.id %}">

                                {% csrf_token %}
                                <button class="btn btn-primary btn-sm" type="submit">
                                    Send Connection Request
                                </button>

                            </form>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% elif query %}

    <div class="alert alert-secondary">
        No users found matching "<strong>{{ query }}</strong>".
    </div>

{% endif %}

{% endblock %}