{% extends "base.html" %}

{% block content %}

<h2>Find People</h2>

<form method="get">
    <div class="input-group mb-4">
        <input class="form-control"
               type="text"
               name="q"
               placeholder="Search for people..."
               value="{{ query }}">

        <button class="btn btn-primary">Search</button>
    </div>

</form>

{% if users %}

    {% for user in users %}

        <div class="card mb-3">

            <div class="card-body">

                <h5 class="card-title">
                    {{ user.username }}
                </h5>

                <p class="text-muted mb-3">
                    {{ user.email }}
                </p>

                {% if user.id in requested_user_ids %}

                    <span class="badge bg-success">
                        Connection request sent
                    </span>

                {% else %}

                    <form
                        method="post"
                        action="{% url 'connections:send_connection_request' user.id %}"
                    >

                        {% csrf_token %}

                        <button
                            class="btn btn-primary btn-sm"
                            type="submit"
                        >
                            Send Connection Request
                        </button>

                    </form>

                {% endif %}

            </div>

        </div>

    {% endfor %}

{% elif query %}

    <div class="alert alert-secondary">
        No users found matching "<strong>{{ query }}</strong>".
    </div>

{% endif %}

{% endblock %}