{% extends "base.html" %}

{% block content %}

<h2>Find People</h2>

<form method="get">
    <input
        type="text"
        name="q"
        value="{{ query }}"
        placeholder="Search username"
    >

    <button type="submit">
        Search
    </button>
</form>

{% if users %}

    <ul>

    {% for user in users %}

        <li>

            {{ user.username }}

            <form
                method="post"
                action="{% url 'connections:send_connection_request' user.id %}"
                style="display:inline;"
            >
                {% csrf_token %}

                <button type="submit">
                    Send Connection Request
                </button>

            </form>

        </li>

    {% endfor %}

    </ul>

{% endif %}

{% endblock %}